body{
    display: flex;
    flex-direction: column;
    
    

    font-family: "Manrope" ;
    background-color: black ;

} 

.nome { 
   display: flex;
   justify-content: center;
      
   
}

.nome .logo{
    display: flex;
    justify-content: center; 
    width: 900px;
}

.p1{
    display: flex;
    justify-content: center;    
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;  
    color: white;
    font-size: 20px;  
}

.p2{

    display: flex;
    justify-content: center;     
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;  
    color: white;
    font-size: 20px; 
}

.lista1{
    display: flex;  
    justify-content: center;    
    color: white;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;  
    color: white;
    font-size: 20px; 
}

.fc { 
    display: flex ;
    justify-content: center;

    border: 2px solid white;     
    font-size: 20px;
    color: white; 
    background-color: black;
    padding: 20px;
    margin-left: 150px; 
    width: 300px; 
  }
  
  



